<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
    <div class="container py-5">
    <div class="row pb-2">
        <div class="col-md-8 mx-auto">
            <h1 class="text-center">Are you sure you want to delete "{{item.name}}"?</h1>
        </div>
    </div>
    <form action="{{ url_for('deleteMenuItem',restaurant_id = item.restaurant_id, menu_id=item.id)}}" method = 'POST'>
    <div class="row pt-2">
        <div class="col-md-6 mx-auto">
            <div class="text-center">
                <input class="mx-3" type='submit' name='op' value='Delete'>
                or
                <a class="mx-3" href= "{{url_for('restaurantMenu', restaurant_id=restaurant_id)}}">Cancel</a>
            </div>
        </div>
    </div>
    </form>
    </div>
</body>
</html>