<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
            <h1>Edit {{item.name}} form:</h1>
            </div>
        </div>
            <form action= "{{url_for('editMenuItem', restaurant_id = restaurant_id, menu_id=item.id)}}" method = 'POST'>
                <div class="row pb-3 pt-3 justify-content-center">
                    <div class="col-md-3 mx-auto">
                        <input type = 'text' class="form-control" size="30" name = 'name' value = '{{item.name}}'><br>
                        <input type = 'text' class="form-control" name = 'price' value = '{{item.price}}'><br>
                        <input type = 'text' class="form-control" name = 'description' value = '{{item.description}}'><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mx-auto text-center">
                        <input class="mx-3" type='submit' value='Edit'>
                        or
                        <a class="mx-3" href= "{{url_for('restaurantMenu', restaurant_id=restaurant_id)}}">Cancel</a>
                    </div>
                </div>
            </form>
    </div>
</body>
</html>