<html>
<body>
<h1>{{restaurant.name}}</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
{% for message in messages %}
  <li><strong>{{message}}</strong></li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

<a href="{{ url_for('newMenuItem', restaurant_id=restaurant.id) }}">Create new menu entry</a>


{% for i in items %}

<div>
    <br>
    {{i.name}}
    <br>
    {{i.price}}
    <br>
    {{i.description}}
    <br>
    <a href="{{ url_for('editMenuItem', menu_id=i.id, restaurant_id=restaurant.id) }}">Edit</a>
    <br>
    <a href="{{ url_for('deleteMenuItem', menu_id=i.id, restaurant_id=restaurant.id) }}">Delete</a>
</div>

{% endfor %}

</body>
</html>